# Google Sheets Configuration
# To use a Google Sheet as your data source, add the URL here
# Make sure the sheet is publicly viewable or shared with "Anyone with the link can view"
# 
# Format 1: Direct CSV export URL
# GOOGLE_SHEET_URL=https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/export?format=csv
#
# Format 2: Regular Google Sheets URL (will be converted automatically)
# GOOGLE_SHEET_URL=https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit#gid=0
#
# Example:
# GOOGLE_SHEET_URL=https://docs.google.com/spreadsheets/d/1AbCdEfGhIjKlMnOpQrStUvWxYz/edit#gid=0