<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nathan.Woodburn/</title>
    <link rel="icon" href="/assets/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="/assets/css/index.css">
</head>

<body>
    <div class="spacer"></div>
    <div class="centre">
        <h1>Weekly Schedule</h1>
        <span>Current date and time: {{datetime}}</span>
        <br><br>
        <a href="/schedule" class="schedule-link">View Weekly Schedule</a>
    </div>

    <script>
        // Redirect to schedule after 2 seconds
        setTimeout(() => {
            window.location.href = '/schedule';
        }, 2000);
    </script>

</body>

</html>